html {
    background-image: url("fondo-clock.jpeg");
    background-size: cover;
    text-align: center;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.hand {
    width: 50%;
    height: 6px;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
}

.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px) /* account for the height of the clock hands*/
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid #ff9999;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 
        0 0 0px 4px rgba(248, 212, 53, 0.911),
        inset 0 0 0 3px rgb(221, 98, 252),
        inset 0 0 10px rgb(219, 255, 59),
        0 0 10px rgb(236, 67, 180);
}

.hour-hand {
    background: violet;
}

.min-hand {
    background: palevioletred;
}

.second-hand {
    background: orange;
}

